<h3>Bonjour Aymeric,</h3>
<p><strong>Nouvel utilisateur à valider sur JCloud !!</strong></p>
<p>Prénom : <strong>{{ firstname }}</strong></p>
<p>Nom : <strong>{{ lastname }}</strong></p>
<p>Email : <strong>{{ email }}</strong></p>
<p>Lien de la validation :</p>
<a href="{{ url }}">{{ url }}</a>

<p>A très bientôt sur JCloud!</p>